*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-size: 62.5%;
    font-family: 'The Nautigal', cursive;
 
}

#heading
{
font-size: 2.5rem;
}
#date
{
    font-size: 1.7rem;
}
#temp
{
    font-size: 3.5rem;
}
#climate
{
    font-size: 2rem;
}
body
{
    height:100vh;
    width:100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
   

}
div
{
    height: 60vh;
    width: 40vw;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 0.9;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form{
    margin-top: 1rem;
}
form button
{
    margin-left: 0.7rem;
}